<%- include('partials/head')%>
</head>
<body class="bg-gray-100 text-gray-900">
  <%- include('partials/header')%>
  <header class="bg-red-500 text-white py-6 text-center shadow-md">
    <h1 class="text-4xl font-bold uppercase tracking-wide">Home Details</h1>
  </header>
  <main class="max-w-4xl mx-auto mt-10 p-6">

    <div class="p-4 border-b flex flex-col md:flex-row justify-between items-center">
      <span class="font-semibold text-lg">Name: <%= home.houseName %></span>
      <span class="text-gray-700">Price: $<%= home.price %>/night</span>
      <span class="text-gray-700">Location: <%= home.location %></span>
      <span class="text-yellow-500 font-bold">Rating: <%= home.rating %> ★<span>
      <div>
        <%- include('partials/favorite')%>
      </div>
      </div>

  </main>

</body>
</html>